$color_1: #fff;
$color_2: #201f1f;
$Myfont: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
$background-color_1: #ffffff;
$background-color_2: rgba(83, 78, 78, 0.685);
$background-color_3: rgb(255, 255, 255);

.hidden { display: none;}